# ----------
# navigation 
# ----------
goto_end;goto_bottom_of_page    G

move_left   L        
move_right  H       

next_page;goto_top_of_page     J 
previous_page;goto_top_of_page K

next_page;goto_top_of_page     ]
previous_page;goto_top_of_page [

goto_left           <C-h>
goto_right          <C-l>
goto_top_of_page    <C-j>
goto_bottom_of_page <C-k>

goto_left_smart   <home>
goto_right_smart  <end>

goto_bottom_of_page;goto_left_smart xx

prev_state u
next_state r

goto_mark gm

goto_bookmark <tab>
goto_bookmark m

# ----
# zoom 
# ----
zoom_in  =
zoom_out -

zoom_in_cursor    <C-=>
zoom_out_cursor   <C-->

fit_to_page_width         w
fit_to_page_width_smart   W

fit_to_page_height          a
fit_to_page_height_smart    A

# -----------------
# window management 
# -----------------
close_window      q
toggle_fullscreen f

# -------
# toggles 
# -------
toggle_statusbar            i
toggle_highlight            th
toggle_dark_mode            td
toggle_custom_color         tc
toggle_fullscreen           tf
toggle_select_highlight     ts
toggle_presentation_mode    tP
toggle_window_configuration tp
toggle_mouse_drag_mode      <space>

_black_background tb
_white_background tw


# -------------
# miscellaneous
# -------------
copy y
goto_toc c
select_rect R
rotate_clockwise <C-r>
synctex_under_cursor s
enter_visual_mark_mode v

open_document           <C-o>
open_document_embedded  o

delete_highlight <backspace>

