
# ----------------
# startup commands 
# ----------------
startup_commands  toggle_statusbar
inverse_search_command "nvim --headless -c \"VimtexInverseSearch %2 %1\""

# ------
# colors 
# ------

background_color            #ffffff
dark_mode_background_color  #000000 

text_highlight_color        #bbbbbb

# status_bar_color      #282c34
# status_bar_text_color #ffffff 

status_bar_color      #ffffff
status_bar_text_color #000000 

ui_selected_background_color #eeeeee

unselected_search_highlight_color #bf5adb

custom_color_mode_empty_background_color  #1A1B26
custom_background_color #1A1B26
custom_text_color       #ffffff

ui_font Hack JBM Ligatured CCG


# status_bar_format %{document_name} Page %{current_page} / %{num_pages}%{chapter_name}%{search_results}%{search_progress}%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index}%{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll}%{highlight}%{closest_bookmark}%{close_portal}%{rect_select}%{custom_message}%{download}

# -------------
# miscellaneous
# -------------
zoom_inc_factor 1.1
super_fast_search 1
incremental_search 1
case_sensitive_search 0
exact_highlight_select 1
touchpad_sensitivity 2.0
single_click_selects_words 0
highlight_color_a	0.00 0.46 0.86
show_document_name_in_statusbar 1
should_highlight_unselected_search 1
should_warn_about_user_key_override 0

# --------------
# click commands 
# --------------
control_click_command synctex_under_cursor
shift_click_command   delete_highlight_under_cursor

# ---------------
# window instance 
# ---------------
should_launch_new_instance  1
should_launch_new_window		1

# -----------------
# python extensions 
# -----------------
new_command _download_paper python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}"
alt_click_command _download_paper

# ---------------
# custom commands 
# ---------------
new_macro  _black_background setconfig_background_color(0 0 0)
new_macro  _white_background setconfig_background_color(1 1 1)
